.skills {
    position: absolute;
    top: 50%;
    left: 70%;
    width: 40%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0, 0.2);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    animation: fadeIn 1s 1.5s;
    animation-fill-mode: backwards;
}

  
  .skills-bar {
    padding: 25px 30px;
  }
  
  .skills-bar .bar {
    margin: 25px 0;
  }
  
  .skills-bar .bar .info span {
    font-size: 13px;
    font-weight: 300;
    font-family: sans-serif;
  }
  
  .skills-bar .bar .info {
    margin-bottom: 8px;
    color: white;
  }
  
  .skills-bar .bar .progress-line {
    position: relative;
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 2s cubic-bezier(1, 0, 0.5, 1) forwards;
  }
  
  .bar .progress-line span {
    position: absolute;
    background: #19bef1;
    height: 100%;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 2s 1.5s cubic-bezier(1, 0, 0.5, 1) forwards;
  }
  
  @keyframes animate {
    100% {
      transform: scaleX(1);
    }
  }
  
  .progress-line .html {
    width: 85%;
  }
  .progress-line .css {
    width: 70%;
  }
  .progress-line .bootstrap {
    width: 80%;
  }
  .progress-line .javascript {
    width: 60%;
  }
  .progress-line .c {
    width: 70%;
  }
  .progress-line .illustration {
    width: 90%;
  }
  
  .bar .progress-line span::before {
    position: absolute;
    content: "";
    height: 0;
    right: 0;
    top: -14px;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-style: #f0f0f0;
    border-top-color: #07374a;
  }
  
  .bar .progress-line span::after {
    position: absolute;
    right: 0;
    top: -28px;
    color: #f0f0f0;
    font-size: 12px;
    font-weight: 700;
    background: #07374a;
    padding: 1px 8px;
    border-radius: 3px;
  }
  
  
  .progress-line .html::after {
    content: "85%";
  }
  .progress-line .css::after {
    content: "70%";
  }
  .progress-line .bootstrap::after {
    content: "80%";
  }
  .progress-line .javascript::after {
    content: "65%";
  }
  .progress-line .c::after {
    content: "70%";
  }
  .progress-line .illustration::after {
    content: "90%";
  }
  
  /* ////........Media Query........//// */
  
  @media screen and (max-width: 950px) {
    .skills {
      position: absolute;
      left: 50%;
      width: 90%;
      top: 67%;
    }
  }